<!DOCTYPE html>
    <head>
        <link rel="stylesheet" href="assets/styles.css">
    </head>
    <body>
        <h1>Person ID: <%= ID %></h1>
        <h1>Query String Value: <%= Qstr %></h1>
    </body>
</html>